@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    background-color: #151412;
    max-width: 1920px;
    margin: auto;

}

* {
    padding: 0;
    margin: 0;
    border: none;
}

.main{
    margin: 0 60px 0 60px ;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 48pt;
}

.header{
    font-family: Roboto;
    font-weight: bold;
    color: white;
    font-size: 24pt;
    line-height:75px;
    width: 100%;
    background-color: #90C200;
    height: 75px;
}

.header span{
    margin-left: 60px;
}

.titletext{
    font-size: 35pt;
    margin: 35px 0;
    text-align: center;
}

.content_container{
    /*height: 330px;*/

    display: flex;
    flex-direction: row;


    color:#ffffff;
}

.box_container {
    text-align:  center;
    width: 30%;
    display: flex;
    font-size: 16pt;
    flex-direction: column;
    margin: auto;
}

.box_image_container{
    width: 50%;


}


.box_image_container img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}

.content_container span{
    color: #90C200;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}



.box_container img{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.services_container{
    justify-content:space-evenly;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.servis{

    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: #90C200;
    overflow-wrap: break-word;
    font-size: 32px;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;

}

.servis span{
    padding: 10px;
}
.servis:hover{
    background-color: #45640c;
}
.servis img{
    margin:  0 auto 20px auto;
    width: 140px;
}

footer{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    width: 100%;
    height: 75px;
    background-image: url("imgs/dirt.jpg");
    color: white;
    font-family: Roboto;

}

footer span{
    margin-left: 30px;
}


@media (max-width: 1366px) {
    .header{
        height: 60px;
        font-size: 20pt;
        line-height:60px;
    }
    footer{
        height: 60px;
    }
    .box_container {
        width: 35%;
    }

    .box_container{
        font-size: 14pt;
    }
    .box_container img{
        width: 70px;
        margin-bottom: 15px;
    }

    .titletext{
       font-size: 35px;
    }

    .servis{
        width: 300px;
        height: 300px;
    }
    .servis span{
        font-size: 28px;
    }
    .servis img{
        width: 100px;
    }
}

@media (max-width: 1280px){
    .content_container{
        flex-direction: column;
    }
    .box_container{
        font-size: 12pt;
        width: 75%;
        margin-bottom: 10px;
    }
    .box_container img{

        width: 50px;
        margin-bottom: 10px;

    }


    .box_image_container{
        width: 100%;
        text-align:center
    }


    .titletext{
        font-size: 30px;
    }
}
@media (max-width: 740px){
    .servis{
        height: 150px;
        width: 150px;
    }
    .servis span{
        font-size: 13px;
    }
    .servis img{
        width: 50px;
    }
}


@media (max-width: 480px){
    .box_container{
        width: 100%;
        margin-bottom: 10px;
    }
    .box_image_container{
        width: 100%;
    }
}

@media (max-width: 430px){
    .servis{
        height: 120px;
        width: 120px;
    }
    .servis span{
        font-size: 11px;
    }
    .servis img{
        width: 45px;
    }
}

@media (max-width: 360px){
    .servis{
        width: 220px;
        height: 220px;
    }
    .servis span{
        font-size: 20px;
    }
    .servis img{
        width: 50px;
    }
}